@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&family=Vina+Sans&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

main {
  margin: 7rem 2rem;
}

.main-header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #232f3e;
}
.main-header .main-cart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  height: 5.5rem;
}
.main-header .main-cart-container a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}
.main-header .main-cart-container a:hover {
  border: 1px solid whitesmoke;
}
.main-header .main-cart-container .main-cart__cartSVG {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.main-header .main-cart-container .main-cart__cartSVG .btn-cart-buy {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.main-header .main-cart-container .main-cart__cartSVG :active,
.main-header .main-cart-container .main-cart__cartSVG :focus {
  transform: scale(0.9);
}
.main-header .main-cart-container .main-cart__cartSVG::after {
  content: attr(data-cart);
  color: orange;
  position: absolute;
  left: 20%;
  top: 0%;
  background-color: #48607f;
  width: 16px;
  border-radius: 50%;
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.3rem;
}
.main-header .main-cart-container .main-cart__cartTitle {
  color: whitesmoke;
}

.products-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, 12rem);
  grid-auto-flow: row;
  grid-template-rows: repeat(auto-fill, 35rem);
  gap: 2rem;
}
.products-section .product-container {
  border: 1px solid rgba(210, 210, 210, 0.372);
  background-color: rgba(245, 245, 245, 0.24);
  padding: 1rem;
  border-radius: 6px;
}
.products-section .product-container .product-image__container {
  margin-bottom: 0.5rem;
  height: 20rem;
}
.products-section .product-container .product-image__container #product-image__url {
  width: 100%;
  aspect-ratio: 1/1;
}
.products-section .product-container .product-image__container #product-image__caption {
  color: #565959;
  font-size: 0.8rem;
}
.products-section .product-container .product-button .product-button__addCart {
  background-color: rgba(132, 132, 132, 0.531);
  width: 100%;
  height: 2rem;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.229);
  cursor: pointer;
}
.products-section .product-container .product-button :hover {
  background-color: #565959;
  color: white;
}
.products-section .product-container .product-info-container {
  height: 11rem;
}
.products-section .product-container .product-info-container h3,
.products-section .product-container .product-info-container h4,
.products-section .product-container .product-info-container h6 {
  margin-bottom: 0.5rem;
  display: inline-block;
}
.products-section .product-container .product-info-container #currency-symbol {
  font-size: 1.2rem;
  font-weight: bold;
}

.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.644);
  display: none;
}

.main-checkout__container {
  position: fixed;
  right: 0;
  top: 5.5rem;
  width: 40rem;
  height: 91%;
  z-index: 10;
  background-color: whitesmoke;
  padding: 1rem;
  display: none;
  flex-direction: column;
}
.main-checkout__container .main-checkout {
  overflow: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.main-checkout__container .main-checkout .main-checkout__cart {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid rgba(153, 153, 153, 0.171);
  border-radius: 6px;
  padding: 1rem;
  position: relative;
  background-color: white;
}
.main-checkout__container .main-checkout .main-checkout__cart .main-checkout__cart--remove {
  position: absolute;
  right: 1%;
  top: 2%;
  width: 1rem;
  aspect-ratio: 1/1;
  background-color: #232f3e;
  border: none;
  color: whitesmoke;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
.main-checkout__container .main-checkout .main-checkout__cart .main-checkout__cart--remove:hover {
  background-color: rgb(161, 3, 3);
}
.main-checkout__container .main-checkout .main-checkout__cart figure img {
  width: 4rem;
  aspect-ratio: 1/1;
}
.main-checkout__container .main-checkout .main-checkout__cart #product-title {
  width: 18rem;
  flex-grow: 0;
}
.main-checkout__container .main-checkout .main-checkout__cart .main-checkout__quantidade {
  width: 5rem;
}
.main-checkout__container .main-checkout .main-checkout__cart .main-checkout__quantidade #main-checkout__price--qt {
  border: 1px solid rgba(35, 47, 62, 0.3215686275);
  border-radius: 3px;
  padding: 0.2rem;
  color: #232f3e;
  font-size: 1rem;
  width: 3rem;
  flex-grow: 0;
}
.main-checkout__container .main-checkout .main-checkout__cart #product-price {
  text-align: right;
  flex-grow: 1;
}
.main-checkout__container .main-checkout .main-checkout__cart .cart-info__price h3 {
  display: inline-block;
}
.main-checkout__container .main-checkout .main-checkout__cart .cart-info__price #cart-currency-symbol {
  font-size: 1.2rem;
  font-weight: bold;
}
.main-checkout__container .main-checkout__info {
  margin: 1rem 0;
}
.main-checkout__container .main-checkout__info .main-checkout__buttons {
  margin: 1rem 0 0 0;
}
.main-checkout__container .main-checkout__info .main-checkout__buttons button {
  width: 10rem;
  height: 2rem;
  border: none;
  color: whitesmoke;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}
.main-checkout__container .main-checkout__info .main-checkout__buttons .main-checkout__buy {
  background-color: rgba(29, 141, 29, 0.8);
}
.main-checkout__container .main-checkout__info .main-checkout__buttons .main-checkout__cancel {
  background-color: rgba(151, 48, 48, 0.8);
}
.main-checkout__container .main-checkout__info .main-checkout__buttons button:active {
  transform: scale(0.95);
}

.fotter .footer-container {
  width: 100%;
  height: 5rem;
  background-color: #232f3e;
}

/*# sourceMappingURL=style.css.map */
